@model DoctorsWebApplication.Models.GPSurgery

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>GPSurgery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GPSurgeryId" />

            <div class="form-group">
                <label asp-for="SurgeryName" class="control-label">Surgery Name</label>
                <input asp-for="SurgeryName" class="form-control" />
                <span asp-validation-for="SurgeryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartConsultDate" class="control-label">Start Consult Date</label>
                <input asp-for="StartConsultDate" class="form-control" />
                <span asp-validation-for="StartConsultDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndConsultDate" class="control-label">End Consult Date</label>
                <input asp-for="EndConsultDate" class="form-control" />
                <span asp-validation-for="EndConsultDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CurrentFlag" /> Current Flag
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label">Modified Date</label>
                <input asp-for="ModifiedDate" class="form-control" disabled="true" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label">Modified By</label>
                <input asp-for="ModifiedBy" class="form-control" disabled="true" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label">Created Date</label>
                <input asp-for="CreatedDate" class="form-control" disabled="true" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label">Created By</label>
                <input asp-for="CreatedBy" class="form-control" disabled="true" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
