@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This could be your doctors database. Imagine the possibilities!</h1>
    <h2>
        <p>
            This is an <a href="https://learn.microsoft.com/en-us/aspnet/mvc/overview/">MVC8 EF8 C# </a>Database Application storing a bare minimum about GP Surgeries, Doctors, Patients, Fees, Drugs. Think about the changes
            you would like made to each screen, regarding what would suit your needs for your local business. If you <a href="mailto:damien.eagles@gmail.com">Contact Damien</a>
            about your data storage needs, this database app can be customised to suit the data storage needs of your local business. Coupled with reporting, and an export of data
            in a variety of formats, you can use this state of the art Microsoft supported technology to meet the demands of a growing local business.
        </p>
    </h2>
</div>

